---
# Website (Nginx) Handlers

- name: Restart Website stack
  community.docker.docker_compose_v2:
    project_src: "{{ website_install_path }}"
    state: present
    pull: missing

# Postfix Handlers
- name: Restart Postfix
  ansible.builtin.systemd:
    name: postfix
    state: restarted

- name: Postmap sasl_passwd
  ansible.builtin.command:
    cmd: postmap /etc/postfix/sasl_passwd
  notify: Restart Postfix

- name: Postmap sender_canonical
  ansible.builtin.command:
    cmd: postmap /etc/postfix/sender_canonical
  notify: Restart Postfix

# Contact API Handlers
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Restart Contact API
  ansible.builtin.systemd:
    name: contact-api
    state: restarted
